/* 全局样式表 */
html,body,#app{
  height: 100%;
  margin:0;
  padding:0;
}

.el-breadcrumb{
  font-size: 14px;
}

.el-card{
  margin-top: 20px;
  box-shadow: 2px 3px rgb(0, 0, 0,.2) !important;
  margin-bottom: 20px;
}

.el-table{
  margin-top: 20px;
  margin-bottom: 20px;
}
